%h2 New Player Score
= simple_form_for [@round, @player_round] do |f|
  .row.collapse
    .small-3.columns
      = f.input :hole_count, label: "Number of Holes"
    .small-3.columns
      = f.input :score
    .small-3.columns
      = f.input :tee_id, collection: Tee.where(course_id: @round.course.id), label_method: :color, value_method: :id
    .small-3.columns
      = f.submit "Save Score",  class: "button postfix", id:"score_submit"
