<div class="large-5 columns">
  <div class="panel radius">
    <h2>Edit Player Profile</h2>
    <%= simple_form_for(resource, url: registration_path(resource)) do |f| %>
      <div class="row collapse">
        <div class="small-6 columns">
          <%= f.input :first_name, input_html: {class: "radius"} %>
        </div>
        <div class="small-6 columns">
          <%= f.input :last_name, input_html: {class: "radius"} %>
        </div>
      </div>
      <%= f.input :email, input_html: {class: "radius"} %>
      <%= f.input :password, input_html: {class: "radius"} %>
      <%= f.input :password_confirmation, input_html: {class: "radius"} %>
      <%= f.input :profile_photo, label: "Profile photo" %>
      <%= f.input :cover_image, label: "Cover photo" %>
      <%= f.input :current_password, required: true, label: "Current password - (we need this to confirm your changes)" %>
      <%= f.submit "Update Player Information", class: "button radius" %>
    <% end %>

    <h3>Cancel my account</h3>

    <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "button radius" %></p>

    <%= link_to "Back", :back %>
  </div>
</div>
