<% @wall_posts.each do |post| %>
  <div class="panel wall_post">
    <div class="row">
      <div class="small-1 columns">
        <%= image_tag post.user.profile_photo %>
      </div>
      <div class="small-11 columns">
        <% if post.user == post.recipient %>
        <h5 style="margin-bottom:0;"><%= link_to post.user.full_name, user_path(post.user) %></h5>
        <% else %>
          <h5 style="margin-bottom:0;"><%= link_to post.user.full_name, user_path(post.user) %> > <%= link_to post.recipient.full_name, user_path(post.recipient) %></h5>
        <% end %>
        <span style="font-size:10px;"><%= time_ago_in_words(post.created_at) %> ago</span>
      </div>
      <div class="row">
        <div class="small-12 columns">
          <span style="margin-left:5px;"><%= post.body %></span>
        </div>
      </div>
    </div>
  </div>
<% end %>
