<% if @user == current_user %>
<ul class="no-bullet right">
  <li>
    <div class="row">
      <%= link_to "Edit Profile", edit_user_registration_path(@user), class: "button small radius right" %>
    </div>
  </li>
  <% unless @user.pending_friendships(current_user).empty? %>
    <div class="row">
      <div class="small-9 columns">
        <div class="panel"  id="friend-request-list">
          <ul class="no-bullet">
            <% if signed_in? %>
              <% @user.pending_friendships(current_user).each do |pending| %>
                <li>
                  <%= image_tag pending.user.profile_photo, size:"60x60" %>
                  <%= pending.user.full_name %>
                  <%= link_to "Accept", friendship_path(accepted: true, user_id: pending.user.id, id: pending.id), method: :put %> | <%= link_to "Ignore", friendship_path(ignored: true, id: pending.id), method: :put %>
                </li>
              <% end %>
            <% end %>
          </ul>
        </div>
      </div>
      <div class="small-3 columns">

        <div class="button small radius right" id="friend-request-button">
          New Friend Request!
        </div>
      </div>
    </div>
  <% end %>
  </ul>
<% else %>
    <% if signed_in? %>
      <ul class="no-bullet right">
        <% if current_user.friendship_pending_with(@user) %>
          <li>
            <div class="round secondary label right">
              Friendship Pending
            </div>
            <br>
          </li>
        <% elsif current_user.friends.include?(@user) %>
          <li>
            <button id="friends-button" data-dropdown="drop1" aria-controls="drop1" aria-expanded="false" class="button small dropdown">Friends</button><br>
              <ul id="drop1" data-dropdown-content class="f-dropdown" aria-hidden="true" tabindex="-1">
                <li><%= link_to "Unfriend", friendship_path(@friendship), method: :delete, data: { confirm: "Are you sure you want to unfriend #{@user.first_name}?"} %></li>
              </ul>
          </li>
        <% elsif @user.friendship_pending_with(current_user) %>
        <% else %>
          <li>
            <%= link_to "Add Friend", friendships_path(friend_id: @user), method: :post, class: "button radius right" %>
          </li>
        <% end %>
      </ul>
    <% end %>
<% end %>
