<% if params[:player_query] %>
  <h1>Player Search</h1>
  <h4>Your search for "<%= params[:player_query] %>" returned <%= @users.count %> result(s).</h4>
<% else %>
  <h1>All Users</h1>
<% end %>

<% @users.each do |user| %>
  <div class="panel">
    <div class="row">
      <div class="large-4 medium-4 columns">
        <%= image_tag user.profile_photo, size: "150x150" unless user.profile_photo == nil %>
      </div>
      <div class="large-8 medium-8 columns">
        <h4><%= user.full_name %></h4>
        <%= link_to user.email, user_path(user) %><br>
        <h6>Handicap:</h6>
        <% if user.handicap.class == String %>
          <h6>N/A</h6>
        <% else %>
          <h6><%= user.handicap %></h6>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
