<%= simple_form_for [@course, @new_tee] do |f| %>
  <div class="row">
    <%= f.input :color %>
    <%= f.input :rating %>
    <%= f.input :slope %>
    <%= f.input :yardage %>
    <%= f.button :submit %>
  </div>
<% end %>
