<br>
<div class="small-4 columns">
  <div class="panel radius">
    <h4>Try Again!</h4>
    <%= simple_form_for(:user, :url => session_path(:user)) do |f| %>
      <%= f.input :email, autofocus: true %>
      <%= f.input :password, autocomplete: "off" %>
      <%= f.submit "Log in", class:"tiny button radius" %>
    <% end %>
    <%= render "devise/shared/links" %>
  </div>
</div>
