.row
  .small-12.columns
    %h1.text-center= @course.name
.row
  .large-12.small-8.small-centered.large-uncentered.columns
    #map-canvas
.row
  .large-4.small-12.columns
    %ul
      %h4 Course Info
      %li
        = @course.street_address
        %br/
        = @course.city
        , #{@course.state} #{@course.zip_code}
      %li
        Phone: #{@course.phone}
  - if current_user
    .small-4.columns
      %h4.text-center Recently Played Rounds
      = render "played_rounds_table"
    .small-4.columns
      %h4.text-center
        Your Upcoming Rounds at #{@course.name}
      - if current_user
        - if current_user.course_rounds(@course).empty?
          %h5 You don't have any rounds scheduled here.
        - else
          - current_user.course_rounds(@course).each do |round|
            .row
              = link_to "#{round.round_date.strftime("%m/%d/%Y")}            |
                #{round.tee_time.strftime("at %I:%M%p")}", round_path(round) |
.row
  .large-6.columns
    %h4 Tees
    = render "tee_table"
    - if current_user
      - if @course.user == current_user
        #add_tee_button.label.button.tiny.radius
          Add New Tee
        #add_tee_form
          = render "tees/form"
%script{:charset => "utf-8", :type => "text/javascript"}
  var addresses = #{@location};
  var searchCity = "#{@course.full_address}";

  var mapCenter;
  if (! searchCity){
  var searchCity = "";
  }
  geocoder = new google.maps.Geocoder();

  geocoder.geocode({'address': searchCity}, function(results, status){
  mapCenter = results[0].geometry.location;
  });
  function initialize() {
  var map;
  var elevator;

  var mapOptions = {
  zoom: 14,
  center: mapCenter,
  disableDefaultUI: false
  };

  map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

  var bounds = new google.maps.LatLngBounds();
  var pointCount = 0;
  for (var x = 0; x < addresses.length; x++) {
  var p = addresses[x];
  var latlng = new google.maps.LatLng(p[0], p[1]);
  new google.maps.Marker({
  position: latlng,
  map: map
  });
  pointCount++;
  bounds.extend(latlng);
  }
  if (pointCount > 1) {
  map.fitBounds(bounds);
  }
  else if (pointCount == 1) {
  map.setCenter(bounds.getCenter());
  map.setZoom(13);
  }
  }


  google.maps.event.addDomListener(
  window,
  'load',
  function () {
  \//1000 milliseconds == 1 second,
  \//play with this til find a happy minimum delay amount
  window.setTimeout(initialize, 0);
  }
  );
