.row
  .small-12.columns
    %h1.text-center= @course.name
.row
  .large-12.small-8.small-centered.large-uncentered.columns
    #map-canvas
.row
  .large-4.small-12.columns
    %ul
      %h4 Course Info
      %li
        = @course.street_address
        %br/
        = @course.city
        , #{@course.state} #{@course.zip_code}
      %li
        Phone: #{@course.phone}
  - if current_user
    .small-4.columns
      %h4.text-center Recently Played Rounds
      = render "played_rounds_table"
    .small-4.columns
      %h4.text-center
        Your Upcoming Rounds at #{@course.name}
      - if current_user
        - if current_user.course_rounds(@course).empty?
          %h5 You don't have any rounds scheduled here.
        - else
          - current_user.course_rounds(@course).each do |round|
            .row
              = link_to "#{round.round_date.strftime("%m/%d/%Y")}            |
                #{round.tee_time.strftime("at %I:%M%p")}", round_path(round) |
.row
  .large-6.columns
    %h4 Tees
    = render "tee_table"
    - if current_user
      - if @course.user == current_user
        #add_tee_button.label.button.tiny.radius
          Add New Tee
        #add_tee_form
          = render "tees/form"

:javascript
  var addresses = #{@location};
  var searchCity = "#{@course.full_address}";
